.progressWrap {
  @include size(
    calc($default-value * 115),
    calc($default-value * 30),
    calc($default-value * 8) calc($default-value * 20) calc($default-value * 11)
      calc($default-value * 20)
  );
  background: rgba(219, 230, 241, 0.9);
  border-radius: calc($default-value * 3);
  box-shadow: 0 $default-value calc($default-value * 4) rgba(0, 0, 0, 0.16);
  position: absolute;
  @include posiVal(
    calc(40% - ($default-value * 15)),
    '',
    '',
    calc(50% - ($default-value * 57.5)),
    1002
  );

  label {
    font-size: map-get($font-size, 'h5');
    line-height: map-get($line-height, 'h5');
    font-weight: normal;
    color: map-get($grayscale, 'dark');
    display: block;
    margin-bottom: calc($default-value * 2.5);
  }

  progress {
    @include size(100%, calc($default-value * 3), '');
    border-radius: calc($default-value * 1.5);
    border: 0;
    background-color: map-get($CIColor, 'main');
    color: map-get($CIColor, 'subLigth');
    @extend %appearance;

    &::-webkit-progress-bar {
      @include size(calc($default-value * 75), calc($default-value * 3), '');
      border-radius: calc($default-value * 1.5);
      border: 0;
      background-color: map-get($CIColor, 'main');
    }

    &::-webkit-progress-value {
      background-color: map-get($CIColor, 'subLight');
      border-radius: calc($default-value * 1.3);
      @include transition(0.1s);
    }

    &::-moz-progress-bar {
      background-color: map-get($CIColor, 'subLigth');
      border-radius: calc($default-value * 1.5);
      border: calc($default-value / 4) solid map-get($CIColor, 'subLight');
    }
  }
}
